$header-height: 50px;

// colors
$primary: #607d8b;
$primary-dark: #455a64;
$primary-light: #ffffff;
$text-primary: #212121;
$text-light: #ffffff;
$text-secondary: #757575;
$muted-color: #bdbdbd;
$accent-color: #448aff;
